LogicApps/02-CopilotUsageTrend.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http"
            }
        },
        "actions": {
            "foreach": {
                "type": "Foreach",
                "foreach": "@body('getusage')?['value']",
                "actions": {
                    "parsejson": {
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@item()?['adoptionByDate']",
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "reportDate": {
                                            "type": "string"
                                        },
                                        "microsoftTeamsEnabledUsers": {
                                            "type": "integer"
                                        },
                                        "microsoftTeamsActiveUsers": {
                                            "type": "integer"
                                        },
                                        "wordEnabledUsers": {
                                            "type": "integer"
                                        },
                                        "wordActiveUsers": {
                                            "type": "integer"
                                        },
                                        "powerPointEnabledUsers": {
                                            "type": "integer"
                                        },
                                        "powerPointActiveUsers": {
                                            "type": "integer"
                                        },
                                        "outlookEnabledUsers": {
                                            "type": "integer"
                                        },
                                        "outlookActiveUsers": {
                                            "type": "integer"
                                        },
                                        "excelEnabledUsers": {
                                            "type": "integer"
                                        },
                                        "excelActiveUsers": {
                                            "type": "integer"
                                        },
                                        "oneNoteEnabledUsers": {
                                            "type": "integer"
                                        },
                                        "oneNoteActiveUsers": {
                                            "type": "integer"
                                        },
                                        "loopEnabledUsers": {
                                            "type": "integer"
                                        },
                                        "loopActiveUsers": {
                                            "type": "integer"
                                        },
                                        "anyAppEnabledUsers": {
                                            "type": "integer"
                                        },
                                        "anyAppActiveUsers": {
                                            "type": "integer"
                                        },
                                        "copilotChatEnabledUsers": {
                                            "type": "integer"
                                        },
                                        "copilotChatActiveUsers": {
                                            "type": "integer"
                                        }
                                    },
                                    "required": [
                                        "reportDate",
                                        "microsoftTeamsEnabledUsers",
                                        "microsoftTeamsActiveUsers",
                                        "wordEnabledUsers",
                                        "wordActiveUsers",
                                        "powerPointEnabledUsers",
                                        "powerPointActiveUsers",
                                        "outlookEnabledUsers",
                                        "outlookActiveUsers",
                                        "excelEnabledUsers",
                                        "excelActiveUsers",
                                        "oneNoteEnabledUsers",
                                        "oneNoteActiveUsers",
                                        "loopEnabledUsers",
                                        "loopActiveUsers",
                                        "anyAppEnabledUsers",
                                        "anyAppActiveUsers",
                                        "copilotChatEnabledUsers",
                                        "copilotChatActiveUsers"
                                    ]
                                }
                            }
                        }
                    },
                    "foreachproduct": {
                        "type": "Foreach",
                        "foreach": "@outputs('parsejson')['body']",
                        "actions": {
                            "insertormergeitem": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['azuretables']['connectionId']"
                                        }
                                    },
                                    "method": "patch",
                                    "body": {
                                        "year": "@formatDateTime(items('foreachproduct')?['reportDate'],'yyyy')",
                                        "week": "@{concat(\r\n    formatDateTime(items('foreachproduct')?['reportDate'], 'yyyy'),\r\n    '-',\r\n    formatNumber(add(div(dayOfYear(items('foreachproduct')?['reportDate']), 7), 1), '00')\r\n)}",
                                        "reportDate": "@{items('foreachproduct')?['reportDate']}",
                                        "reportRefreshDate": "@{items('foreach')?['reportRefreshDate']}",
                                        "microsoftTeamsEnabledUsers": "@items('foreachproduct')?['microsoftTeamsEnabledUsers']",
                                        "microsoftTeamsActiveUsers": "@items('foreachproduct')?['microsoftTeamsActiveUsers']",
                                        "wordEnabledUsers": "@items('foreachproduct')?['wordEnabledUsers']",
                                        "wordActiveUsers": "@items('foreachproduct')?['wordActiveUsers']",
                                        "powerPointEnabledUsers": "@items('foreachproduct')?['powerPointEnabledUsers']",
                                        "powerPointActiveUsers": "@items('foreachproduct')?['powerPointActiveUsers']",
                                        "outlookEnabledUsers": "@items('foreachproduct')?['outlookEnabledUsers']",
                                        "outlookActiveUsers": "@items('foreachproduct')?['outlookActiveUsers']",
                                        "excelEnabledUsers": "@items('foreachproduct')?['excelEnabledUsers']",
                                        "excelActiveUsers": "@items('foreachproduct')?['excelActiveUsers']",
                                        "oneNoteEnabledUsers": "@items('foreachproduct')?['oneNoteEnabledUsers']",
                                        "oneNoteActiveUsers": "@items('foreachproduct')?['oneNoteActiveUsers']",
                                        "loopEnabledUsers": "@items('foreachproduct')?['loopEnabledUsers']",
                                        "loopActiveUsers": "@items('foreachproduct')?['loopActiveUsers']",
                                        "anyAppEnabledUsers": "@items('foreachproduct')?['anyAppEnabledUsers']",
                                        "anyAppActiveUsers": "@items('foreachproduct')?['anyAppActiveUsers']",
                                        "copilotChatEnabledUsers": "@items('foreachproduct')?['copilotChatEnabledUsers']",
                                        "copilotChatActiveUsers": "@items('foreachproduct')?['copilotChatActiveUsers']"
                                    },
                                    "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/tables/@{encodeURIComponent(variables('config')?['tabletrend'])}/entities(PartitionKey='@{encodeURIComponent(formatDateTime(items('foreachproduct')?['reportDate'],'yyyy-MM'))}',RowKey='@{encodeURIComponent(items('foreachproduct')?['reportDate'])}')"
                                }
                            }
                        },
                        "runAfter": {
                            "parsejson": [
                                "Succeeded"
                            ]
                        }
                    },
                    "appendbody": {
                        "type": "AppendToStringVariable",
                        "inputs": {
                            "name": "body",
                            "value": "Report Refresh Date: <strong>@{items('foreach')?['reportRefreshDate']}</strong><br>\nReport Period: @{items('foreach')?['reportPeriod']} days<br>\nNumber of Days Returned: @{length(item()?['adoptionByDate'])}<br>\nCreated at: @{variables('run')}"
                        },
                        "runAfter": {
                            "foreachproduct": [
                                "Succeeded"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "getusage": [
                        "Succeeded",
                        "Failed"
                    ]
                }
            },
            "getusage": {
                "type": "Http",
                "description": "https://learn.microsoft.com/en-us/graph/api/reportroot-getmicrosoft365copilotusercounttrend?view=graph-rest-beta&tabs=http\nThe supported values are: D7, D30, D90, D180, ALL\nRequired app permissions: Reports.Read.All",
                "inputs": {
                    "uri": "https://graph.microsoft.com/beta/reports/getMicrosoft365CopilotUserCountTrend(period='ALL')",
                    "method": "GET",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "authentication": {
                        "audience": "https://graph.microsoft.com/",
                        "authority": "https://login.microsoft.com",
                        "clientId": "@variables('app')?['clientId']",
                        "secret": "@body('getsecret')?['value']",
                        "tenant": "@variables('app')?['tenantId']",
                        "type": "ActiveDirectoryOAuth"
                    }
                },
                "runAfter": {
                    "getsecret": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "paginationPolicy": {
                        "minimumItemCount": 99999
                    }
                }
            },
            "getsecret": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['keyvault']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/secrets/@{encodeURIComponent('secret')}/value"
                },
                "runAfter": {
                    "inititems": [
                        "Succeeded"
                    ]
                }
            },
            "initAppConfig": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "app",
                            "type": "object",
                            "value": {
                                "tenantId": "f89d8982-a030-4c14-9b60-8dbd82b66428",
                                "clientId": "fa0a1787-39d1-4d73-b25a-dc92968863a1"
                            }
                        }
                    ]
                },
                "runAfter": {
                    "initConfig": [
                        "Succeeded"
                    ]
                }
            },
            "initConfig": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "config",
                            "type": "object",
                            "value": {
                                "tableuser": "CopilotUsageUser",
                                "tabletrend": "CopilotUsageTrend",
                                "tablequeries": "Queries",
                                "tablelog": "Log",
                                "inactivitywarning": 30,
                                "adminEmail": "toni@tpe5.onmicrosoft.com",
                                "debug": false
                            }
                        }
                    ]
                },
                "runAfter": {
                    "initrun": [
                        "Succeeded"
                    ]
                }
            },
            "initemailtemplate": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "emailtemplate",
                            "type": "string",
                            "value": "<!DOCTYPE html>\n<html>\n\n<head>\n  <meta content=\"text/html; charset=utf-8\" http-equiv=\"Content-Type\">\n  <meta content=\"email template by atwork.at\" name=\"template\">\n  <style>\n    <!--\n    /* Font Definitions */\n    @font-face {\n      font-family: Wingdings;\n      panose-1: 5 0 0 0 0 0 0 0 0 0;\n    }\n\n    @font-face {\n      font-family: \"Cambria Math\";\n      panose-1: 2 4 5 3 5 4 6 3 2 4;\n    }\n\n    @font-face {\n      font-family: Calibri;\n      panose-1: 2 15 5 2 2 2 4 3 2 4;\n    }\n\n    @font-face {\n      font-family: \"Segoe UI\";\n      panose-1: 2 11 5 2 4 2 4 2 2 3;\n    }\n\n    @font-face {\n      font-family: \"Segoe UI Light\";\n      panose-1: 2 11 5 2 4 2 4 2 2 3;\n    }\n\n    /* Style Definitions */\n    p.MsoNormal,\n    li.MsoNormal,\n    div.MsoNormal {\n      margin: 0cm;\n      margin-bottom: .0001pt;\n      font-size: 11.0pt;\n      font-family: \"Calibri\", sans-serif;\n    }\n\n    h1 {\n      mso-style-link: \"Heading 1 Char\";\n      margin-top: 24.0pt;\n      margin-right: 0cm;\n      margin-bottom: 0cm;\n      margin-left: 0cm;\n      margin-bottom: .0001pt;\n      page-break-after: avoid;\n      font-size: 16.0pt;\n      font-family: \"Segoe UI Light\", sans-serif;\n      color: #2F5496;\n      font-weight: normal;\n    }\n\n    h2 {\n      mso-style-link: \"Heading 2 Char\";\n      margin: 0cm;\n      margin-bottom: .0001pt;\n      font-size: 16.0pt;\n      font-family: \"Calibri\", sans-serif;\n      font-weight: normal;\n    }\n\n    h3 {\n      mso-style-link: \"Heading 3 Char\";\n      margin-top: 2.0pt;\n      margin-right: 0cm;\n      margin-bottom: 2.0pt;\n      margin-left: 0cm;\n      line-height: 130%;\n      page-break-after: avoid;\n      font-size: 14.0pt;\n      font-family: \"Calibri\", sans-serif;\n      font-weight: normal;\n    }\n\n    h4 {\n      mso-style-link: \"Heading 4 Char\";\n      margin-top: 2.0pt;\n      margin-right: 0cm;\n      margin-bottom: 2.0pt;\n      margin-left: 0cm;\n      line-height: 130%;\n      page-break-after: avoid;\n      font-size: 12.0pt;\n      font-family: \"Calibri\", sans-serif;\n      font-weight: bold;\n    }\n\n    a:link,\n    span.MsoHyperlink {\n      color: blue;\n      text-decoration: underline;\n    }\n\n    a:visited,\n    span.MsoHyperlinkFollowed {\n      color: #954F72;\n      text-decoration: underline;\n    }\n\n    p {\n      margin-right: 0cm;\n      margin-left: 0cm;\n      font-size: 11.0pt;\n      font-family: \"Calibri\", sans-serif;\n      line-height: 13.5pt;\n    }\n\n    span.Heading2Char {\n      mso-style-name: \"Heading 2 Char\";\n      mso-style-link: \"Heading 2\";\n      font-family: \"Segoe UI\", sans-serif;\n    }\n\n    span.Heading1Char {\n      mso-style-name: \"Heading 1 Char\";\n      mso-style-link: \"Heading 1\";\n      font-family: \"Segoe UI Light\", sans-serif;\n      color: #2F5496;\n    }\n\n    span.Heading3Char {\n      mso-style-name: \"Heading 3 Char\";\n      mso-style-link: \"Heading 3\";\n      font-family: \"Segoe UI\", sans-serif;\n    }\n\n    span.Heading4Char {\n      mso-style-name: \"Heading 4 Char\";\n      mso-style-link: \"Heading 4\";\n      font-family: \"Segoe UI\", sans-serif;\n      font-weight: bold;\n    }\n\n    span.preheader {\n      mso-style-name: preheader;\n      display: none;\n    }\n\n    .MsoChpDefault {\n      font-family: \"Calibri\", sans-serif;\n    }\n\n    .MsoPapDefault {\n      margin-bottom: 8.0pt;\n      line-height: 107%;\n    }\n\n    /* Page Definitions */\n    @page WordSection1 {\n      size: 612.0pt 792.0pt;\n      margin: 72.0pt 72.0pt 72.0pt 72.0pt;\n    }\n\n    div.WordSection1 {\n      page: WordSection1;\n    }\n\n    /* List Definitions */\n    ol {\n      margin-bottom: 0cm;\n    }\n\n    ul {\n      margin-bottom: 0cm;\n    }\n\n    /* fix generated HTML tables */\n    tr>td>p>span {\n      font-size: 0.8em;\n      font-family: \"Calibri\", sans-serif;\n    }\n\n    ul>li {\n      font-family: \"Calibri\", sans-serif;\n      font-size: 11.0pt;\n      color: #222222;\n      line-height: 13.5pt;\n    }\n    -->\n  </style>\n  <title></title>\n</head><!-- email template 2018 by atwork.at -->\n\n<body lang=\"EN-US\" link=\"blue\" vlink=\"#954F72\">\n  <div class=\"WordSection1\">\n    <p class=\"MsoNormal\">&nbsp;</p>\n    <div align=\"center\">\n      <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"MsoNormalTable\"\n        style='width:100.0%;border-collapse:collapse' width=\"100%\">\n        <tr>\n          <td style='width:100.0%;background:#F1F1F1;padding:0cm 0cm 0cm 0cm' valign=\"top\" width=\"100%\">\n            <div align=\"center\">\n              <!-- text above the table if needed -->\n              <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"MsoNormalTable\"\n                style='width:450.0pt;border-collapse:collapse' width=\"600\">\n                <tr>\n                  <td style='width:450.0pt;background:#F1F1F1;padding:0pt 0pt 2.25pt 0pt' width=\"600\">\n                    <p align=\"right\" style='text-align:right'></p>\n                  </td>\n                </tr>\n              </table>\n            </div>\n            <div align=\"center\">\n              <table border=\"1\" cellpadding=\"0\" cellspacing=\"0\" class=\"MsoNormalTable\"\n                style='border-collapse:collapse;border:none'>\n                <tr>\n                  <td style='border:solid #595959 1.0pt;padding:.75pt .75pt .75pt .75pt'>\n                    <div align=\"center\">\n                      <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"MsoNormalTable\"\n                        style='width:450.0pt;background:white;border-collapse:collapse' width=\"600\">\n                        <tr>\n                          <!-- company logo -->\n                          <td style='padding:18.75pt 0cm 15.0pt 22.5pt'>\n                            <p class=\"MsoNormal\" style='line-height:105%'><span><img alt=\"Logo\" height=\"20\"\n                                  src=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGIAAAAUCAIAAAD5vH+FAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAkxSURBVHja7Fh5cFPnEX+XTuuwZNmSL3zgA9tgY5twmdNgKIQJzZR2KAzx0HLDdKBNJ2HSBFpaSkqnTTzQuiWQNIFhAoQQYo5wgw3EF8b3bWzJsmVJ1mU/ne/oSja2bGxD/ygzafrmk/Tme/u+b7/f7v52VyjLssj/r+dd2Pfz2Fcru/afq3S4qReUJ76HGFkd7u0nSts7rGGBwi1L41+ON7Ga3q+05qvfIZgcLsbspODoxn7XSwo6Y1/Zzdof3q5bbXM0fVdgQlEEx1C4Gfh+GTB5aKvXo1gPRdv/h+N0DG5iWapa836PrRDH8EEsUR6G8gXccIUoM1y+gktIYVJtvNDc84mHNhEYB0XR8vZfc3ARxTh4eHBmzEEhL/LjOy33qnW/Xz89XC4atYXN4f7gcmNZmykzWvbLVYliAW+UQLfF/s5n5VlTVT9bFAeLw0xDl+Vala5OYzOSbidF0wwDbsElsAAOFikXzooLWpYWJuJz/Bdp0tkulnXWdlotdreL9qZ0nGF3Lo+fk6gcD47KDtPvzlRlJQfvWZk8sO+4MHlosrbzL1aHCX8qNlQycHAkSJQ6f8opWcDUFv2/Grq+AsX4HD6IqA03GNYrSTNITMiPeJzId8/VapsNgRL+X3NnjDQDu+146enrLQiOfl34pEFnO7UrC0NH+P/hi3UfFzRdqTesy4oWcDkHzlf/+es6m8mBUAwyLIl6VWN9Cgo5qTGy/M2z5sQHDzz7/MGTHcdKTVYn4qaH17V7JAJiQbLq2WBzUfSHl+sPXqiz6voftJm25yQKuMREMIGzLE4+a+qvRFF8SBuaIc1kvcb0pbGvqrR1d860bzKjDyolC23OxhbdMZBMi9oTwItgWJpLyEMDc3AMWZIS8mmX7dS36rdXJykDA4aN3G07W6xBxLwIuaDT7ID7d1+3JkcEDgkYbI5TD9VIAHdpigow+uRuy3snKxACT4gPfi09NETKBzuzTzVze5iaTsv58s6qVvPaDx+U/GG5UspXG/u3nii3kh6ehLdudmRSRKD3FRbBWHb1zAiXh2ZHmv9Bo2Hv6Yp7NT1g5PAoWd7GTD6XeH5BoArMhvHsfLXmUFnb3l6yjHR1SoVJMPS2oqaufAAlXrVJKkz2F96ZE3fqfrtBT35W1P7mqpSh+SuPuyjSLVUIT2yasfZvxSZ9/9Wqbn+YTha16/UkLiR+8YMEcL2j15thMjlKcus32UqpYEyFTxa25uaXqLtsX5aqty1NuF3bY7U4UQ6W90b6luyEUcI6cDEfSCIe4abo/WerPrjS6Oh3IwT246zYwxsyohQBz6dwp8dgdTSYyKpRw2yv5eAScHmGcXto24DwEHNTNDlqnZlxwUumqiDGjt9tt7s8Q/MFj7sQhs2IluWkhmVMksJ9QUUX+9S0UPIdu90Kby1KCXllsgJoRd3rgIdrZk0aDyO4fjInOiokADSr1HhTis7igHu5lL9mZtQYmW6QQbCiBv2qw3f/eK7G4aKVIaLj22ef2TP/WYxGe5PBVlypPmAhK12UiWEpP68cTKSwAYFzfBu9UCrdvmTytUfahg7zxXLt2rnRMPPE0PdtqwmSwqq0MFhkxfSwG2Xa4tbe1p6+OKUEBC490tZ3WIEFdy31eoGbYoHyYLdgMX+ihI1hYr73LE6Xl4lY0JRFILMwzNitmFd7HvH5/Q4v0/HwV2JlF361MEwmfH5BYLHXFTauU/de6nN1AiB8Qson5P5DQMg5mAgZtwccA7gV6eGpsUGIh/n7zRbG9+L1ah1pcXJF3OWpoV6BtFCemG+3um5V63xxwB690QyemRItAwSH65zn1rjsoDuOkGUnbFhpJkIlhmQJL3b2Om7U6F6oINBZ79jdGqi4UiL2xKs283ApO/LkGIp3mi4VNm7k4NzRWnoH/ezqPALfsjh2V7OxsN5wv1E/f4qyoFwL+qXHyJLCvb6TGCbNiA58WNl9saJry9KEh82Ge/V62GlrdhyPgw+d1pd/mYm8CRznP2odvI5H714WLxfzdnxU2m0gc488KG0x/ml9hoBLTORNbgroBsVQLEG1VSqYwueGCrgq/8HjBPOIYHb0fpChgV5oD2UbU6GfZkWFhYpYh+fEnTab3V3U0gsWfzUtFMJk4Hgrp4fCz/0mo8Xu/OhWK2OnVCGidXMHOSWAhwu5gBf6qMMywbH1VocWygUUgTQ3IodNiBVE5MaFky+/vShpUiBCsUcKGl49dKutp28imITcEJ+bMlA3uikLzbhoxj04WPh2wKCY0Twt4KhwlAB7N3bnky61TwaGnWEG2yW5iL9hXjQcoKBK986Zx+Z+FyrkrEwPH1phZXoYJuRYSPe+s9WXKrtBEuSDxIMFJ1SM8xIVwMdfFGuOXmvstjiA473D5RtuinRSNRrLjhMlZpsTapmcacoX96kBHlicorq7P2dDdiyC47cf6xYfuHEV1Bgv6EIk84TcSKu9raJ9b5Mun8AlfnQD8FFQeUDlycEIf2MFBkwNla18YrjYbjwPxQGfG+QNVRbqLDQj5rfRijUgs2lRbN6VJqPJceRaC+KiM5IUaZOG039qpGxGjKykzpD3TTMozhdzNy+O9Vdx3+vTiuoMaq111z9L9p2vDQrgDingrZtoRgONrM2b43++InFRsmrIzycgJpYd4XHBEv6nO7PmxCveOl2p1va9duj2F28ugDQt5BGjYZIIEmbH5Ze07u5zNlvtT8ZrGr2DHVYBQ4m58cegItWarjjcetKlf1rKI1ayHlF47+NU0rzcjLdOVphId1y4+MgbmQSODxsKx/JyZ2w48rC52yoTcg6tT48PlfpvmhAmufle9qHztdfqejQmR2+vfQQAOMoTctOSlLkLorYtSxyo5ikgMg8FfSY7DkbwCD7USL7bvixxeox88z+Ka5sMxn4IpuG30VHJgKL7zWTNQEM7waUQz+ESEv+ZfmcH6eygWecAoWMoVyGeSeDD3Vxrj7XDQKZGyxWiMVJ7b5+zqsMUqQgATMfb1Ey62/X9vgaN8fUpYCSIekwpFU5WinBsmEBaemwN2j4BF5s3BfiUeLYvKWowQMBOCZcMVCEjaM7mrFGbFySF+NsS/a/+ycs+zVM+G6ND0fA0eaPIS7wGlJlgUy8U4zz+twADAE7cbX6225xOAAAAAElFTkSuQmCC\"\n                                  width=\"93\"></span></p>\n                          </td><!-- spacer -->\n                          <td style='padding:18.75pt 22.5pt 15.0pt 0cm'>\n                            <p align=\"right\" class=\"MsoNormal\" style='text-align:right;line-height:105%'><span\n                                style='font-size:10.0pt;font-family: \"Segoe UI\",sans-serif;color:#222222'>GT365</span>\n                            </p>\n                          </td>\n                        </tr>\n                        <tr>\n                          <!-- banner text -->\n                          <td colspan=\"2\" style='background:#860080;padding:11.25pt 22.5pt 11.25pt 22.5pt'>\n                            <p style='line-height:105%'><span style='font-size:19.5pt;line-height: 105%;font-family:\"Segoe UI Light\",sans-serif;color:white'>M365 Copilot Usage Trend [run]</span></p>\n                          </td>\n                        </tr>\n                        <tr>\n                          <!-- content -->\n                          <td colspan=\"2\" style='width:100.0%;padding:11.25pt 22.5pt 11.25pt 22.5pt' width=\"100%\">\n                            <p style='line-height:13.5pt'><span style='font-size:10.0pt;font-family: \"Segoe UI\",sans-serif;color:#222222'>The M365 Copilot Usage Trend report has been updated.</span></p>\n                          </td>\n                        </tr>\n                        <tr>\n                          <td colspan=\"2\" style='width:100.0%;padding:11.25pt 22.5pt 11.25pt 22.5pt' width=\"100%\">\n                            <p style='line-height:13.5pt'><span style='font-size:10.0pt;font-family: \"Segoe UI\",sans-serif;color:#222222'>\n                                [items]\n                            </span></p>\n                          </td>\n                        </tr>\n                        <tr>\n                          <td colspan=\"2\" style='width:100.0%;padding:11.25pt 22.5pt 11.25pt 22.5pt' width=\"100%\">\n                            <p style='line-height:13.5pt'><span style='font-size:10.0pt;font-family: \"Segoe UI\",sans-serif;color:#222222'>For more details see the detailed data.</span></p>\n                          </td>\n                        </tr>                        \n                        <tr>\n                          <!-- footer -->\n                          <td colspan=\"2\" style='background:#595959;padding:.75pt .75pt .75pt .75pt'>\n                            <p class=\"MsoNormal\"\n                              style='margin-left:26.85pt;line-height:13.5pt;font-size:9.0pt;font-family:\"Segoe UI\",sans-serif; color:white'>\n                              &nbsp;</p>\n                            <p class=\"MsoNormal\"\n                              style='margin-left:26.85pt;line-height:13.5pt;font-size:9.0pt;font-family:\"Segoe UI\",sans-serif; color:white'>\n                              <a href=\"https://www.atwork-it.com/gdpr/\" style=\"color:white\">Privacy statement</a>\n                            </p>\n                            <p class=\"MsoNormal\"\n                              style='margin-left:26.85pt;line-height:13.5pt;font-size:9.0pt;font-family:\"Segoe UI\",sans-serif; color:white'>\n                              This is an automatic generated email sent by <a href=\"https://www.atwork-it.com/\"\n                                style=\"color:white\">atwork</a>. Do not reply.</p>\n                            <p class=\"MsoNormal\"\n                              style='margin-left:26.85pt;line-height:13.5pt;font-size:9.0pt;font-family:\"Segoe UI\",sans-serif; color:white'>\n                              In case of questions, pls. contact <a href=\"mailto:office@atwork.at?subject=notification\"\n                                style=\"color:white\">office@atwork.at</a>.</p>\n                            <p class=\"MsoNormal\"\n                              style='margin-left:26.85pt;line-height:13.5pt;font-size:9.0pt;font-family:\"Segoe UI\",sans-serif; color:white'>\n                              &nbsp;</p>\n                          </td>\n                        </tr>\n                      </table>\n                    </div>\n                  </td>\n                </tr>\n              </table>\n            </div>\n            <div align=\"center\">\n              <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"MsoNormalTable\"\n                style='width:450.0pt;border-collapse:collapse' width=\"600\">\n                <tr>\n                  <td style='width:450.0pt;background:#F1F1F1;padding:0pt 0pt 2.25pt 0pt' width=\"600\">\n                    <p align=\"left\" style='text-align:right'><span\n                        style='font-size:9.0pt;font-family:\"Segoe UI\",sans-serif;color:#666666'>&nbsp;</span></p>\n                  </td>\n                </tr>\n              </table>\n            </div>\n          </td>\n        </tr>\n      </table>\n    </div>\n    <p class=\"MsoNormal\">&nbsp;</p>\n  </div>\n</body>\n\n</html>"
                        }
                    ]
                },
                "runAfter": {}
            },
            "initrun": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "run",
                            "type": "string",
                            "value": "@formatDateTime(utcNow(),'yyyy-MM-dd')"
                        }
                    ]
                },
                "runAfter": {
                    "initemailtemplate": [
                        "Succeeded"
                    ]
                }
            },
            "scopemail": {
                "type": "Scope",
                "actions": {
                    "sendmail": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                }
                            },
                            "method": "post",
                            "body": {
                                "To": "@{variables('config')?['adminEmail']}",
                                "Subject": "GT365: M365 Copilot Usage Trend",
                                "Body": "<p class=\"editor-paragraph\">@{replace(replace(variables('emailtemplate'),'[items]',variables('body')),'[run]',variables('run'))}</p>",
                                "Importance": "Normal"
                            },
                            "path": "/v2/Mail"
                        }
                    }
                },
                "runAfter": {
                    "foreach": [
                        "Succeeded"
                    ]
                }
            },
            "initbody": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "body",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "initAppConfig": [
                        "Succeeded",
                        "Failed"
                    ]
                }
            },
            "inititems": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "items",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {
                    "initbody": [
                        "Succeeded"
                    ]
                }
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "azuretables": {
                    "id": "/subscriptions/<subscription-id>/providers/Microsoft.Web/locations/westeurope/managedApis/azuretables",
                    "connectionId": "/subscriptions/<subscription-id>/resourceGroups/<resource-group>/providers/Microsoft.Web/connections/azuretables",
                    "connectionName": "azuretables",
                    "connectionProperties": {}
                },
                "keyvault": {
                    "id": "/subscriptions/<subscription-id>/providers/Microsoft.Web/locations/westeurope/managedApis/keyvault",
                    "connectionId": "/subscriptions/<subscription-id>/resourceGroups/<resource-group>/providers/Microsoft.Web/connections/keyvault",
                    "connectionName": "keyvault",
                    "connectionProperties": {
                        "authentication": {
                            "identity": "/subscriptions/<subscription-id>/resourceGroups/<resource-group>/providers/Microsoft.ManagedIdentity/userAssignedIdentities/<managed-identity-name>",
                            "type": "ManagedServiceIdentity"
                        }
                    }
                },
                "office365": {
                    "id": "/subscriptions/<subscription-id>/providers/Microsoft.Web/locations/westeurope/managedApis/office365",
                    "connectionId": "/subscriptions/<subscription-id>/resourceGroups/<resource-group>/providers/Microsoft.Web/connections/office365",
                    "connectionName": "office365",
                    "connectionProperties": {}
                }
            }
        }
    }
}